@page
@model xmuer.Pages.Homepage.UserInfoModel
@{
    var gender = "其他";
    switch (Model.user.gender)
    {
        case 1:
            gender = "男";
            break;
        case 2:
            gender = "女";
            break;
        default:
            gender = "其他";
            break;
    };
    ViewData["Title"] = "我的资料";
}

@*个人资料页面 JS*@
<script>
    $(document).ready(() => {
        // 添加左边菜单栏选中
        $('#mnuPersonalCentre').addClass("active");
        $('#mnuPersonalInfo').addClass("active");
    })
</script>

<div class="row">
    <div class="col-sm">
        @*学校信息*@
        <div class="card">
            <div class="card-header">
                <i class="fa fa-building"></i>
                学校信息
                <button type="button" class="btn btn-primary" style="margin-left:65%" data-toggle="modal" data-target="#exampleModalCenter1">编辑</button>
            </div>
            <div class="card-body">
                <table class="table table-borderless table-hover">
                    <tr>
                        <th scope="row">大学</th>
                        <td>@Model.user.university</td>
                    </tr>
                    <tr>
                        <th scope="row">高中</th>
                        <td>@Model.user.highSchool</td>
                    </tr>
                    <tr>
                        <th scope="row">初中</th>
                        <td>@Model.user.juniorHighSchool</td>
                    </tr>
                    <tr>
                        <th scope="row">小学</th>
                        <td>@Model.user.primarySchool</td>
                    </tr>
                </table>
                <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">修改学校信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <div class="form-group row">
                                        <label for="university" class="col-sm-3 col-form-label">大学</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="university" placeholder="大学" asp-for="iuniversity">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="highSchool" class="col-sm-3 col-form-label">高中</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="highSchool" placeholder="高中" asp-for="ihighSchool">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="juniorHighSchool" class="col-sm-3 col-form-label">初中</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="juniorHighSchool" placeholder="初中" asp-for="ijuniorHighSchool">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="primarySchool" class="col-sm-3 col-form-label">小学</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="primarySchool" placeholder="小学" asp-for="iprimarySchool">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10" style="margin-left:65%">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*个人兴趣*@
        <div class="card" style="margin-top:30px">
            <div class="card-header">
                <i class="fa fa-heart"></i>
                个人兴趣
                <button type="button" class="btn btn-primary" style="margin-left:65%" data-toggle="modal" data-target="#exampleModalCenter2">编辑</button>
            </div>
            <div class="card-body">
                <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">修改个人兴趣</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <div class="form-group row">
                                        <label for="hobbyMusic" class="col-sm-3 col-form-label">音乐</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbyMusic" placeholder="音乐" asp-for="ihobbyMusic">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hobbyBook" class="col-sm-3 col-form-label">书本</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbyBook" placeholder="书本" asp-for="ihobbyBook">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hobbyMovie" class="col-sm-3 col-form-label">电影</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbyMovie" placeholder="电影" asp-for="ihobbyMovie">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hobbyGame" class="col-sm-3 col-form-label">游戏</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbyGame" placeholder="游戏" asp-for="ihobbyGame">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hobbyAnime" class="col-sm-3 col-form-label">动漫</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbyAnime" placeholder="动漫" asp-for="ihobbyAnime">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hobbySport" class="col-sm-3 col-form-label">运动</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbySport" placeholder="运动" asp-for="ihobbySport">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hobbyOther" class="col-sm-3 col-form-label">爱好</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hobbyOther" placeholder="爱好" asp-for="ihobbyOther">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10" style="margin-left:65%">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-borderless table-hover">
                    <tr>
                        <th scope="row">音乐</th>
                        <td>@Model.user.hobbyMusic</td>
                    </tr>
                    <tr>
                        <th scope="row">书本</th>
                        <td>@Model.user.hobbyBook</td>
                    </tr>
                    <tr>
                        <th scope="row">电影</th>
                        <td>@Model.user.hobbyMovie</td>
                    </tr>
                    <tr>
                        <th scope="row">游戏</th>
                        <td>@Model.user.hobbyGame</td>
                    </tr>
                    <tr>
                        <th scope="row">动漫</th>
                        <td>@Model.user.hobbyAnime</td>
                    </tr>
                    <tr>
                        <th scope="row">运动</th>
                        <td>@Model.user.hobbySport</td>
                    </tr>
                    <tr>
                        <th scope="row">其他爱好</th>
                        <td>@Model.user.hobbyOther</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm">
        @*基本资讯*@
        <div class="card">
            <div class="card-header">
                <i class="fa fa-info"></i>
                基本信息
                <button type="button" class="btn btn-primary" style="margin-left:65%" data-toggle="modal" data-target="#exampleModalCenter3">编辑</button>
            </div>
            <div class="card-body">
                <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">修改基本信息</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post">
                                    <div class="form-group row">
                                        <label for="realName" class="col-sm-3 col-form-label">姓名</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="realName" placeholder="姓名" asp-for="irealName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="gender" class="col-sm-3 col-form-label">性别</label>
                                        <div class="col-sm-9">
                                            <select class="custom-select my-1 mr-sm-2" id="gender" asp-for="igender">
                                                <option selected>选择...</option>
                                                <option value="1">男</option>
                                                <option value="2">女</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="birthday" class="col-sm-3 col-form-label">生日</label>
                                        <div class="col-sm-9">
                                            <input type="date" class="form-control" id="birthday" placeholder="生日" asp-for="ibirthday">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="hometown" class="col-sm-3 col-form-label">家乡</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="hometown" placeholder="家乡" asp-for="ihometown">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-3 col-form-label">邮箱</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="email" placeholder="邮箱" asp-for="iemail">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="mobile" class="col-sm-3 col-form-label">手机号</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="mobile" placeholder="手机号" asp-for="imobile">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-10" style="margin-left:65%">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                            <button type="submit" class="btn btn-primary">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-borderless table-hover">
                    <tr>
                        <th scope="row">性别</th>
                        <td>@gender</td>
                    </tr>
                    <tr>
                        <th scope="row">生日</th>
                        <td>@Model.user.birthday</td>
                    </tr>
                    <tr>
                        <th scope="row">家乡</th>
                        <td>@Model.user.hometown</td>
                    </tr>
                    <tr>
                        <th scope="row">邮箱</th>
                        <td>@Model.user.email</td>
                    </tr>
                    <tr>
                        <th scope="row">手机号</th>
                        <td>@Model.user.mobile</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
