@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}

@*首页 CSS*@
<link rel="stylesheet" href="/css/IndexPage.css" />

@*首页 JS*@
<script>$(document).ready(() => {
        // 添加左边菜单栏选中
        $('#mnuHome').addClass("active");
    })</script>

@*新鲜事*@
<div class="row">
    <div class="col-8">
        <div class="card border-primary">
            <h6 class="card-header">
                新鲜事
            </h6>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    @{
                        foreach (var share in Model.Shares)
                        {
                            <li class="list-group-item">
                                @*这是新鲜事的内容*@
                                <div class="media fresh-thing">
                                    <img src="@share.Avatar" class="mr-3" alt="阿这 网络断了" width="50" height="50">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-1">@share.Username</h6>
                                        <p class="mt-0 mb-1 text-muted">发布于：@share.Time</p>
                                        <div class="fresh-thing-content">
                                            @Html.Raw(share.ShareContent)
                                        </div>
                                        @*这是新鲜事的按钮*@
                                        <div class="btn-group" role="group">
                                            <a href="/home/user/like/@share.ID" class="btn btn-light btnPraise"> 👍 按赞 (<b class="praiceNum">@share.like</b>) </a>
                                            <a class="btn btn-light btnComment" data-toggle="collapse" data-target="#commentCollapse-@share.ID" aria-expanded="false" aria-controls="commentCollapse"> 💬 快速评论 (<b>@share.commentCount</b>) </a>
                                            <a href="/Status/Status?shareId=@share.ID" class="btn btn-light btnView"> 👀 查看 </a>
                                        </div>
                                        @*这是评论的框框*@
                                        <div class="collapse mb-3" id="commentCollapse-@share.ID">
                                            <hr />
                                            <div class="card card-body">
                                                <div class="row">
                                                    <div class="col-10">
                                                        <input type="text" class="form-control" id="commentText-@share.ID" placeholder="输入你的评论；网络并非法外之地！" name="content" />
                                                    </div>
                                                    <div class="col-2">
                                                        <button type="button" class="btn btn-warning btnSubmitComment" value="@share.ID">发表评论</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card border-primary">
            <h6 class="card-header">
                找同学
            </h6>
        </div>
    </div>

@*评论功能*@
<script>$('.btnSubmitComment').click(function () {
        var shareId = $(this).val();
        var comment = $('#commentText-' + shareId).val();
        var formData = new FormData();
        formData.append("content", comment)
        $.ajax({
            url: "/home/user/comment/" + shareId,
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (true == data.success) {
                    alert("评论成功");
                } else {
                    alert("评论失败，因为：" + data.msg);
                }
            },
            error: function (data) {
                if (true == data.success) {
                    alert("评论成功");
                } else {
                    alert("评论失败，因为：" + data.msg);
                }
            }
        });
    });</script>

@*按赞功能*@
<script>$('.btnPraise').click(function (event) {
        event.preventDefault();
        var button = $(this);
        var src = button.attr('href');
        $.ajax({
            url: src,
            type: 'post',
            contentType: false,
            processData: false,
            success: function (data) {
                if (true == data.success) {
                    let before = button.children('.praiceNum').text();
                    console.log(before);
                    button.children('.praiceNum').text(Number.parseInt(before) + 1);
                    button.removeClass('btn-light');
                    button.addClass('btn-warning');
                    button.addClass('disabled');
                } else {
                    alert("点赞失败，因为：" + data.msg);
                }
            },
            error: function (data) {
                if (true == data.success) {
                    let before = button.children('.praiceNum').text();
                    console.log(before);
                    button.children('.praiceNum').text(Number.parseInt(before) + 1);
                } else {
                    alert("点赞失败，因为：" + data.msg);
                }
            }
        });
    });</script>
