@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        if (Model.HttpContext != null)
            return Xsrf.GetAndStoreTokens(Model.HttpContext).RequestToken;
        else
            return null;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XMUer > @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <!-- 主页按钮 -->
        <a asp-page="/Index" class="navbar-brand mb-0 h1">XMUer</a>
        <!-- 功能按钮列表 -->
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 han-navbar-list">
            <li class="nav-item">
                <a class="nav-link" asp-page="/Index">主页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="/About">关于站点</a>
            </li>
        </ul>
        <!-- 用户功能 -->
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Han Li
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">个人中心</a>
                    <a class="dropdown-item" href="#">账号设置</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">登出</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- 询问 Cookie 接受 -->
    <partial name="_CookieConsentPartial" />
    <!-- 主页面及左边侧边栏 -->
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <section style="width: 200px">
                <ul class="sidebar-menu">
                    <li class="sidebar-header">欢迎您，Han Li</li>
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i> <span>首页</span> <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/Homepage/UserHome">
                            <i class="fa fa-user"></i> <span>个人主页</span> <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/Status/StatusList">
                            <i class="fa fa-file-text"></i> <span>我的状态</span> <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#2">
                            <i class="fa fa-photo"></i> <span>我的相册</span> <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#3">
                            <i class="fa fa-users"></i> <span>好友</span> <i class="fa fa-angle-right pull-right"></i>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <!-- 主页面渲染区 -->
        <div id="page-content-wrapper">
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; 2020 - Xiamen University</p>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/tinymce/5.5.1/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: '.tinymce',
                plugins: "codesample table link paste code preview help",
                toolbar: 'undo redo paste | styleselect forecolor backcolor bold italic codesample link table | alignleft aligncenter alignright bullist numlist | code preview help', menubar: false
            });
        </script>
        <script>

            function tinyMCEFill(index) {
                content = $('#html-content-' + (index + 1).toString()).html();
                tinyMCE.editors[parseInt(index)].setContent(content);
            }

            function tinyMCESave(index, id) {
                var content = tinyMCE.editors[parseInt(index)].getContent();

                if (content == null || content == "") {
                    alert('输入状态为空！');
                }
                else {
                    $("#submit-" + (index+1).toString()).prop("disabled", true);
                    var formData = new FormData();
                    formData.append('content', content);
                    $.ajax({
                        type: "POST",
                        url: "/Status/StatusEdit?id=" + id + "&edit=1",
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        success: function (data) {
                            console.log(data);
                            alert('保存成功。');
                            setTimeout(function(){ location.reload(); }, 500);

                        },
                        error: function (err) {
                            console.error(err);
                            alert('保存失败。');
                        }
                    });
                    $("#submit-" + (index + 1).toString()).prop("disabled", false);

                }
            }
        </script>
        <script>
            $('#post-status').click(function () {
                var x = tinyMCE.editors[0].getContent();
                $("#content").val(x);
		        tinyMCE.triggerSave();
                if (x == null || x == "") {
                    alert('输入状态为空！');
                }
                else {
                    $("#submit").prop("disabled", true);
                    var formData = new FormData();
                    formData.append('content', $("#content").val());
                    $.ajax({
                        type: "POST",
                        url: $("#form").context.URL + "&post=1",
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        success: function (data) {
                            console.log(data);
                            $("#result").text("Success.").addClass("alert-success").removeClass("alert-danger");
                            setTimeout(function(){ window.location.href="/Status/StatusList"; }, 500);
                        },
                        error: function (err) {
                            console.error(err);
                            $("#result").html("Error.").removeClass("alert-success").addClass("alert-danger");
                        }
                    });
                    $("#submit").prop("disabled", false);
                }
            });
            $('#save-status-draft').click(function () {
                var x = tinyMCE.editors[0].getContent();
                $("#content").val(x);
		        tinyMCE.triggerSave();
                if (x == null || x == "") {
                    alert('输入状态为空！');
                }
                else {
                    $("#submit").prop("disabled", true);
                    var formData = new FormData();
                    formData.append('content', $("#content").val());
                    $.ajax({
                        type: "POST",
                        url: $("#form").context.URL + "&draft=1",
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false,
                        headers:
                        {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        success: function (data) {
                            console.log(data);
                            $("#result").text("Success.").addClass("alert-success").removeClass("alert-danger");
                            setTimeout(function(){ window.location.href="/Status/StatusDraftList"; }, 500);
                        },
                        error: function (err) {
                            console.error(err);
                            $("#result").html("Error.").removeClass("alert-success").addClass("alert-danger");
                        }
                    });
                    $("#submit").prop("disabled", false);
                }
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
