
@model xmuer.Models.Home.AlbumListModel
@{
    ViewData["Title"] = "我的相册";
}
@*相册 JS*@
<script>$(document).ready(() => {
        // 添加左边菜单栏选中
        $('#mnuMyAlbum').addClass("active");
    })</script>
@*上传文件相关 JS*@
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>
<script>$('document').ready(function () {
        $('#fileUpload').fileinput({
            showUpload: false,
        })
    })</script>
@*我的相册 页面*@
<div class="card">
    <div class="card-header">
        我的相册
        <button type="button" class="btn btn-primary ml-3" data-toggle="collapse" data-target="#uploadPhotoCollapse" aria-expanded="false" aria-controls="uploadPhotoCollapse">
            上传照片
        </button>
        <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#createAlbumCollapse" aria-expanded="false" aria-controls="createAlbumCollapse">
            新建相册
        </button>
    </div>
    <div class="card-body">
        @*上传相片框框*@
        <div class="collapse mb-3" id="uploadPhotoCollapse">
            <div class="card card-body">
                <div class="form-group">
                    <label for="selAlbum">选择相册</label>
                    <select class="form-control" id="selAlbum">
                        @{
                            if (Model.albums.Count > 0)
                            {
                                foreach (var album in Model.albums)
                                {
                                    <option value="@album.ID">@album.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <form method="post" id="frmUploadPhoto" enctype="multipart/form-data">
                    <input type="file" name="iFormFile" accept="image/*" id="fileUpload" />
                    <hr />
                    <button type="button" class="btn btn-primary" id="btnSubmit">上传</button>
                </form>
            </div>
        </div>
        <script>$('#btnSubmit').click(function () {
                var albumId = document.getElementById("selAlbum")
                    .options[document.getElementById("selAlbum").selectedIndex].value;

                var formData = new FormData($('#frmUploadPhoto')[0])

                $.ajax({
                    url: "/home/album/" + albumId,
                    type: 'post',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (true == data.success) {
                            alert("上传成功。");
                        } else {
                            alert("上传失败，因为：" + data.msg);
                        }
                    },
                    error: function (data) {
                        if (true == data.success) {
                            alert("上传成功。");
                        } else {
                            alert("上传失败，因为：" + data.msg);
                        }
                    }
                });
            })</script>
        @*新建相册框框*@
        <div class="collapse mb-3" id="createAlbumCollapse">
            <div class="card card-body">
                <form>
                    <div class="form-group">
                        <label for="selAlbum">新相册名</label>
                        <input type="text" class="form-control" id="txtAlbumName">
                    </div>
                    <button type="button" class="btn btn-warning" id="btnCreateAlbum">创建</button>
                </form>
            </div>
        </div>
        <script>$('#btnCreateAlbum').click(function () {
                var albumName = $('#txtAlbumName').val();
                $.ajax({
                    url: "/home/album",
                    type: 'post',
                    data: JSON.stringify({ Name: albumName }),
                    dataType: "json",
                    contentType: 'application/json',
                    success: function (data) {
                        if (true == data.success) {
                            alert("创建相册成功。");
                        } else {
                            alert("创建相册失败，因为：" + data.msg);
                        }
                    },
                    error: function (data) {
                        if (true == data.success) {
                            alert("创建相册成功。");
                        } else {
                            alert("创建相册失败，因为：" + data.msg);
                        }
                    }
                });
            })</script>
        @*显示相册*@
        <div class="card-columns" style="column-count: 4">
            @{ if (Model.albums.Count > 0)
                {
                    foreach (var album in Model.albums)
                    {
                        @*相册视图*@
                        <div class="card">
                            <img src="@Url.Content(@album.Picture)" class="img-fluid" />
                            <div class="card-body media-body">
                                <a href="@Url.Content("~/Album/AlbumContent?albumId=" + album.ID)" class="card-title text-black-50">@album.Name</a>
                                <!--<p class="card-text">这是示例相册：1</p>-->
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-light" style="margin-left:20px" id="upPage">
            上一页
        </a>
        <a class="btn btn-light" style="margin-left:20px" id="downPage">
            下一页
        </a>
    </div>
</div>

<script>
    var page = 1;
    $('#upPage').click(function () {
        page -= 1;
        if (page == 0) {
            page = 1;
        }
        window.location.href = "/home/album?pageLimit=10&pageIndex=" + page;
    });
    $('#downPage').click(function () {
        page += 1;
        window.location.href = "/home/album?pageLimit=10&pageIndex=" + page;
    });
</script>
